.vscode
__pycache__/
*.mp4

# keep output folder but ignore contents
output/*
!output/.gitkeep

input/tail/*
!input/tail/.gitkeep

input/top_slates/*
!input/top_slates/.gitkeep

input/body/*
!input/body/.gitkeep

input/watermark/*
!input/watermark/.gitkeep

Watermarks.psd