.vscode
__pycache__/
*.mp4

.env

# keep output folder but ignore contents
output/*
!output/.gitkeep
!output/archive

input/tail/*
!input/tail/.gitkeep

input/top_slates/*
!input/top_slates/.gitkeep

input/body/*
!input/body/.gitkeep
!input/body/archive

archive/*
!archive/.gitkeep

input/PROCESSED

input/watermark/*
!input/watermark/.gitkeep

ignore